* {
	margin: 0;
	position: absolute;
}

body {
	height: 100vh;
	width: 100vw;
	background: #222;
}

#canvas {
	height: 70vmin;
	width: 50vmin;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 1vmin;
	background: linear-gradient(to bottom, #00002E, #3131FF);
	overflow: hidden;
	box-shadow: 0 0 5vmin rgba(255,255,255,0.5);
}

.building {
	background: linear-gradient(to bottom, #00003B, #0000AF);
}

#building {
	height: 20vmin;
	width: 10vmin;
	top: 51vmin;
	left: 40vmin;
}

#building2 {
	height: 30vmin;
	width: 8vmin;
	left: 30vmin;
	top: 41vmin;
}

#building3 {
	height: 26vmin;
	width: 11vmin;
	top: 45vmin;
	left: 20vmin;
}

#building4 {
	height: 18vmin;
	width: 8vmin;
	top: 53vmin;
	left: 10vmin;
}

#building4 {
	height: 15vmin;
	width: 11vmin;
	top: 56vmin;
	left: 2vmin;
}

.window {
	height: 3vmin;
	width: 2vmin;
	background: #FFFF00;
	box-shadow: 0 0 1vmin rgba(255,255,0,1);
}

#w1 {
	left: 2vmin;
	top: 2vmin;
}

#w2 {
	left: 7vmin;
	top: 2vmin;
}

#w3 {
	top: 9vmin;
	left: 2vmin;
}

#b2w1 {
	left: 1vmin;
	top: 1vmin;
}

#b2w2 {
	left: 5vmin;
	top: 5vmin;
}

#b2w3 {
	left: 1vmin;
	top: 5vmin;
}

#b2w4 {
	left: 5vmin;
	top: 10vmin;
}

#b3w1 {
	top: 18vmin;
	left: 3vmin;
}

#b3w2 {
	top: 16vmin;
	left: 8vmin;
}

#b3w3 {
	top: 12vmin;
	left: 9vmin;
}

#b3w4 {
	top: 4vmin;
	left: 5vmin;
}

#b3w5 {
	top: 8vmin;
	left: 7vmin;
}

#b3w6 {
	top: 12vmin;
	left: 3vmin;
}

#b4w1 {
	left: 5vmin;
	top: 3vmin;
}

#moon {
	width: 10vmin;
	height: 10vmin;
	background: #fff;
	border-radius: 50%;
	left: 6vmin;
	top: 9vmin;
	box-shadow: 0 0 10vmin rgba(255,255,255,1)
}